{
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "config": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "max-len": ["warn", {"code": 200, "comments": 300}],
        "semi": ["error", "always"],
        "indent": ["error", 2]
    },
    "extends": ["eslint:recommended"]
}