.Button {
    height: 20px;
    min-width: 22px;
    border: none;
    background: #ECECEC;
    color: #838383;
    cursor: pointer;
}

.Button:hover {
  background: #AAAAAA;
  color: #000;
}

.Button_drag {
  cursor: grab;
}