.ContentElement__content {
    margin: 0;
    position: relative;
}

.ContentElement__content_paragraph {
  padding-bottom: 24px;
  font: {
      weight: normal;
      size: 14px;
  }
  line-height: 24px;
  outline: none;
}

.ContentElement__content_title {
  padding-bottom: 30px;
  font: {
      weight: bold;
      size: 30px;
  }
  line-height: 36px;
  outline: none;
}